.vscode/*
.history/
.requirements
*.o
*.ko
*.order
*.symvers
*.mod.c
*.mod
*.cmd
.tmp_versions/
Module.symvers
Kconfig.generated
.idea/
*.swp
*~
*.patch
*.diff
*.orig
*.rej
cscope.*
tags
TAGS
*.log
.cache.mk
__pycache__/
*.pyc
*.dwo
